@tailwind base;
@tailwind components;
@tailwind utilities;
@import "highlight.js/styles/atom-one-dark.css";

@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Thin.ttf);font-weight: 100;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-ExtraLight.ttf);font-weight: 200;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Light.ttf);font-weight: 300;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Regular.ttf);font-weight: 400;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Medium.ttf);font-weight: 500;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-SemiBold.ttf);font-weight: 600;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Bold.ttf);font-weight: 700;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-ExtraBold.ttf);font-weight: 800;}
@font-face {font-family: RaleWay;src: url(/public/font_raleway/Raleway-Black.ttf);font-weight: 900;}



.light{
  --background: 255,255,255;
  --forderground:0,0,0;
}
.dark{
  --forderground:255,255,255;
  --background: 0,0,0;
}
body {
  font-family: RaleWay, Helvetica, sans-serif;
}
/* Standard-Styling für Header */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 0.5rem;

}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5rem;

}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5rem;

}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.5rem;

}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5rem;

}

/* Listen-Styling */
ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

code{
  padding:0 2px;
  background-color: gray;
  margin: 8px 0px;
}
iframe{
  width: 100%;
  margin: 8px 0;
}
.article-page a{text-decoration: underline;}
a:hover{
  text-decoration: none;
}